@import "../../../styles/variables.scss";

.page.page-profile {
  background: #f3f3f3;
  position: relative;
  z-index: 1;

  &:after {
    clear: both;
    display: table;
    content: "";
  }

  h1 {
    font-size: 34px;
    color: #333;
    font-weight: 400;
    margin: 0 0 20px;
  }

  .form-image {
    position: absolute;
    right: 4%;
    top: 130px;

    @media (max-width: 600px) {
      position: relative;
      right: auto;
      top: auto;
    }
  }

  .form-group {
    max-width: calc(100% - 200px);

    small {
      color: #333;
    }
    .select,
    input[type="text"],
    input[type="password"] {
      background: #fff;
      border: 1px solid #ccc;
      color: #333;
    }
    @media (max-width: 600px) {
      max-width: 100%;
    }
  }

  .form-btn {
    float: left;
    padding: 0;
    font-size: 13px;
    height: 37px;
    max-width: 150px;
    min-height: 37px;
    margin-right: 10px;

    &.cancel {
      background-image: linear-gradient(to bottom, #e6e6e6, #dddddd);
      color: #333;
    }
  }

  .form-error {
    clear: both;
    width: 100%;
  }
}
