/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #333;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

input,
select,
button {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.page {
  min-height: 100vh;
  background: #141414;
  padding: 90px 4% 0;
  position: relative;
  z-index: 1;
}

.form-image {
  display: block;
  position: relative;
  cursor: pointer;
  width: 150px;
  overflow: hidden;

  textarea,
  input {
    opacity: 0;
    position: absolute;
  }

  img {
    max-width: 100%;
  }

  span {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 1px solid #fff;
    bottom: 10px;
    display: flex;
    height: 20px;
    justify-content: center;
    left: 5px;
    position: absolute;
    width: 20px;

    svg {
      width: 10px;
      height: 10px;
      path {
        fill: #fff;
      }
    }
  }
}

.form-group {
  display: block;
  margin-bottom: 16px;
  position: relative;
  width: 100%;
  display: block;

  small {
    position: absolute;
    left: 20px;
    display: block;
    top: 18px;
    pointer-events: none;
    font-size: 16px;
    color: #8c8c8c;
    transition: all 0.2s ease-in-out;
  }

  .select,
  input[type="text"],
  input[type="password"] {
    border-radius: 4px;
    border: 0;
    color: #fff;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 16px 20px 0;
    background: #454545;
  }

  .select {
    select {
      width: 100%;
      margin: -5px 0 0;
      height: 39px;
      display: block;
      padding: 0;
      color: inherit;
      background: none;
      border: 0;
      appearance: none;
    }
  }

  button {
    background: none;
    border: 0;
    color: #8c8c8c;
    font-size: 13px;
    font-weight: 300;
    font-size: 14px;
    height: 50px;
    line-height: 30px;
    margin: 0;
    padding: 0 12px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .form-error {
    display: none;
  }

  input:focus + small,
  &.active small {
    top: 10px;
    font-size: 11px;
  }

  &.error {
    input {
      border-bottom: 2px solid #e87c03;
    }
    .form-error {
      display: block;
    }
  }
}

.form-error {
  color: #e87c03;
  padding: 6px 3px;
  font-size: 13px;
}

.form-btn {
  background-color: $c-red;
  border-radius: 4px;
  border: 0;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 24px 0 12px;
  width: 100%;
  padding: 16px;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
