<shared-header></shared-header>
<div class="page-movies-bg">
  <movies-banner></movies-banner>

  <section class="page page-movies">
    <div *ngIf="mostWatched">
      <h3>My Last Watched Movies</h3>
      <movies-carousel
        *ngFor="let usermovie of userMovies"
        [cat]="usermovie"
      ></movies-carousel>
      <h3 *ngIf="countries">Most Watched by Countries</h3>
      <movies-carousel
        *ngFor="let country of countries"
        [cat]="country"
      ></movies-carousel>
      <h3>Most Watched by Categories</h3>
    </div>

    <movies-carousel
      *ngFor="let cat of categories"
      [cat]="cat"
    ></movies-carousel>
  </section>

  <shared-footer></shared-footer>
</div>
