<app-shared-header></app-shared-header>
<div class="page-movies-bg">
  <app-movies-banner></app-movies-banner>

  <section class="page page-movies">
    <div *ngIf="mostWatched">
      <h3>My Last Watched Movies</h3>
      <app-movies-carousel
        *ngFor="let usermovie of userMovies"
        [cat]="usermovie"
      ></app-movies-carousel>
      <h3>Most Watched by Countries</h3>
      <app-movies-carousel
        *ngFor="let country of countries"
        [cat]="country"
      ></app-movies-carousel>
      <h3>Most Watched by Categories</h3>
    </div>

    <app-movies-carousel
      *ngFor="let cat of categories"
      [cat]="cat"
    ></app-movies-carousel>
  </section>

  <app-shared-footer></app-shared-footer>
</div>
